/* :root{
  --background-color:#333;
  --primary-color:;
  --typography-color:  color: rgba(255, 255, 255, 0.699);
  ;
  --complementary-typography-color:;
} */



/* Global styles */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #b88007e8;
  color: #333;
}

/* Header styles */
header {
  background-color: hwb(208 1% 91%);
  color: rgb(255, 255, 255);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
}

header h1 span {
  color:#ffb300;
}

header nav a {
  color: white;
  margin-left: 1.5rem;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

/* Button styles */
button {
  background-color: #ffffff;
  color: #0f6cbc;
  border: 2px solid #0f6cbc;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0f6cbc;
  color: white;
}

/* Main section */
main {
  padding: 2rem;
  text-align: center;
}

/* Footer styles */
footer {
  background-color: #0f6cbc;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 2rem;
}

footer p {
  margin: 0;
}









/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
